@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ Live Event ~";
    if (!Functie.CheckRefcode(Request.QueryString["refcode"]))
    {
        Response.Redirect("~/Pages/User/404.cshtml");
    }
    Session["refcode"] = Request.QueryString["refcode"];
    string EventNaam = Request.QueryString["refcode"];


}
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-10">
            <div class="accordion" id="accordionExample">
                <div class="card border-dark">
                    <!-- HEADER VAN DE EERSTE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5>
                            <button style="color:white;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#Timer" aria-expanded="true" aria-controls="WaardeFiches">
                                Timer & Blinds
                            </button>
                        </h5>
                    </div>
                    <!-- BODY VAN DE EERSTE CARD-->
                    <div id="Timer" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                <h2 id="ronde"></h2>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3 id="smallblind"></h3>
                                </div>
                                <div class="col-sm-4 ">
                                    <h3 id="bigblind"></h3>
                                </div>
                                <div class="col-sm-4">
                                    <h3 style="color: red" id="timer"></h3>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <h5 id="ronde2"></h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    
                                    <h6 id="smallblind2"></h6>
                                </div>
                                <div class="col-sm-3">
                                    
                                    <h6 id="bigblind2"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HEADER VAN DE TWEEDE CARD-->
                <div class="card border-dark">
                    <div class="card-header bg-dark" id="headingOne">
                        <h5>
                            <button style="color:white;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#WaardeFiches" aria-expanded="true" aria-controls="WaardeFiches">
                                Fiches
                            </button>
                        </h5>
                    </div>
                    <!-- BODY VAN DE TWEEDE CARD-->
                    <div id="WaardeFiches" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div>
                                    @foreach (var row in Functie.FichesLive(EventNaam))
                                    {
                                        <img height="140" width="140" src="~/Images/fiches/@(row.Kleur)/@(row.Waarde).png" alt="Alternate Text" />
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p id="demo"></p>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE DERDE CARD-->
                    <div class="card-header bg-dark" id="headingTwo">
                        <h2 class="mb-0">
                            <button style="color:white;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TafelIndeling" aria-expanded="false" aria-controls="TafelIndeling">
                                Tafel indeling
                            </button>
                        </h2>
                    </div>
                    <!-- BODY VAN DE DERDE CARD-->
                    <div id="TafelIndeling" class="collapse show" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                @for (int x = 1; Functie.HoeveelheidTafels(EventNaam) >= x; x++)
                                {

                                    <div class="col-lg-2">
                                        <table class="table table-light table-bordered table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Tafel @x</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var row in Functie.SpelersLive(EventNaam, x))
                                                {
                                                    <tr>
                                                        <td>@row.Voornaam @row.Achternaam </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card border-dark">
                    <!--HEADER VAN DE DERDE CARD-->
                    <div class="card-header bg-dark" id="headingFour">
                        <h2 class="mb-0">
                            <button style="color:white;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#CheatCheet" aria-expanded="false" aria-controls="CheatCheet">
                                CheatCheet
                            </button>
                        </h2>
                    </div>
                    <!-- BODY VAN DE DERDE CARD-->
                    <div id="CheatCheet" class="collapse" aria-labelledby="headingFour">
                        <div class="card-body">
                            <a href="~/Pages/User/PokerRules.cshtml">Naar het volledige overzicht van regels</a>
                            <div class="row">
                                <div class="col-sm">
                                    <h2>Royal Flush</h2>
                                    <h5>649.739:1</h5>
                                    <p>Aas, koning, koningin, boer en 10 van dezelfde kleur. </p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/Royal Flush.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>Straight Flush</h2>
                                    <h5>72.192:1</h5>
                                    <p>Vijf achtereenvolgende kaarten van dezelfde kleur.</p>

                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/Straight Flush.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>Four of a Kind</h2>
                                    <h5>4.164:1</h5>
                                    <p>Vier kaarten met dezelfde waarde.</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/4 of a Kind.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>Full House</h2>
                                    <h5>693:1</h5>
                                    <p>Drie kaarten met dezelfde waarde plus twee kaarten met dezelfde waarde.</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/Full House.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>Flush</h2>
                                    <h5>508:1</h5>
                                    <p>Vijf kaarten van dezelfde kleur.</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/Flush.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>Straight</h2>
                                    <h5>254:1</h5>
                                    <p>Vijf opeenvolgende kaarten, los van de kleur.</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/Straight.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>Three of a Kind</h2>
                                    <h5>46:1</h5>
                                    <p>Drie kaarten met dezelfde waarde.</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/3 of a Kind.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>Two pair</h2>
                                    <h5>20:1</h5>
                                    <p>Twee sets van twee kaarten met dezelfde waarde.</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/2 Pairs.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>One Pair</h2>
                                    <h5>1,37</h5>
                                    <p>Twee kaarten met dezelfde waarde.</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/1 Pair.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <h2>High card</h2>
                                    <p>De hoogste kaart (ofwel geen van bovenstaande combinaties).</p>
                                </div>
                                <div class="col-sm">
                                    <img src="~/Images/Cheatsheet/Combies/High Card.jpg" width="500" height="250" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var ronde = @Functie.GetBlindData(EventNaam)[0];
    var sb = @Functie.GetBlindData(EventNaam)[1];
    var bb = @Functie.GetBlindData(EventNaam)[2];
    var eindtijd = @Functie.GetBlindData(EventNaam)[3];
    var pauzeofblind = @Functie.GetBlindData(EventNaam)[4];
    var rondenext = @Functie.GetBlindData(EventNaam)[5];
    var sbnext = @Functie.GetBlindData(EventNaam)[6];
    var bbnext = @Functie.GetBlindData(EventNaam)[7];
    var pauzeofblindnext = @Functie.GetBlindData(EventNaam)[8];
    var duratiepauze = @Functie.GetBlindData(EventNaam)[9];
</script>
<script src="~/Scripts/JSTimer.js" defer></script>