@{
    
    int i = 0;

}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body class="bg-light">
    <!-- Header -->
    @RenderPage("~/Shared/_Header_user.cshtml")

    <!-- Actual Content -->
        <!-- Laad fiches in -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-1"> </div>
            <div class="col-auto">
                <h5 class=" font-weight-bold">Waardes fiches:</h5>
                <div>
                    @foreach (var row in Functie.Fiches("test"))
                    {
                        <img height="100" width="100" src="~/Images/fiches/@(row.Kleur)/@(row.Waarde).png" alt="Alternate Text" />
                    }
                </div>
            </div>
            <div class="col-1"> </div>
        </div>
        
        <!-- Laad spelers in -->
        <div class="row no-gutters">
            <div class="col-1"> </div>
            <div class="col-auto">
                <h5 class=" font-weight-bold">Indeling tafels:</h5>
                <div>
                    @for (int x = 1; Functie.HoeveelheidTafels("test") >= x ; x++)
                    {
                    <h3>Tafel @x  </h3>
                        <table class="table table-responsive">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Naam</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Functie.Spelers("test", x))
                                {
                                    <tr>
                                        <th scope="row">@{i++;} @i</th>
                                        <td>@row.Voornaam @row.Achternaam </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
            <div class="col-1"> </div>
        </div>
    </div>


    <!-- Footer -->
    @RenderPage("~/Shared/_Footer.cshtml")
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>