@{

    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ Event aanmaken";

    string json = Convert.ToString(Session["json"]);

    List<int> lijstMetFicheIDs = null;
    Dictionary<int,int> lijstMetSpelerIDs = null;
    string[,] lijstMetBlinds = null;

    string presetnaam = (string)Session["presetnaam"]; 

    if (json != null)
    {
        lijstMetFicheIDs = Functie.GetFicheIDList(json);
        lijstMetSpelerIDs = Functie.SpelersMetTafelNummer(json);
        lijstMetBlinds = Functie.GetBlinds(json,presetnaam);
    }


    if (IsPost)
    {
        string refcode = Functie.MaakReferencieCode();
        Session["ReferentieCode"] = refcode;
        if(Request.Form["presetnaam"] != null)
        {
            string invoerPreset = (string)Request.Form["presetnaam"];
            Functie.PresetBlindsMaken(lijstMetBlinds, invoerPreset);
        }
        Functie.EventAanmaken(lijstMetSpelerIDs, lijstMetFicheIDs, lijstMetBlinds, refcode);
        Response.Redirect("~/Pages/Admin/AanmakenEventSucces.cshtml");
    }

}



<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-10">
            <div class="accordion" id="accordionExample">
                <div class="card border-dark">
                    <!-- HEADER VAN DE EERSTE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Preview van de tafel indeling:
                        </h5>
                    </div>
                    <!-- BODY VAN DE EERSTE CARD-->
                    <div id="TafelIndeling" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <table class="table table-light table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Naam </th>
                                                <th>Tafelnummer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var key in Functie.GetSpelerNaam(lijstMetSpelerIDs))
                                            {
                                                <tr>
                                                    <td>@key.Key</td>
                                                    <td>@key.Value</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE TWEEDE CARD-->
                    <div class="card-header bg-dark" id="headingTwo">
                        <h5 style=" color:white;">
                            Preview van de fiches
                        </h5>
                    </div>
                    <!-- BODY VAN DE TWEEDE CARD-->
                    <div id="Fiches" aria-labelledby="headingTwo">
                        <div class="card-body">
                            @foreach (var entry in Functie.FichesPreview(lijstMetFicheIDs))
                            {
                                <img height="140" width="140" src="~/Images/fiches/@(entry.Item1)/@(entry.Item2).png" alt="Alternate Text" />
                            }
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE DERDE CARD-->
                    <div class="card-header bg-dark" id="headingThree">
                        <h5 style=" color:white;">
                            Preview van het blinds-schema:
                        </h5>
                    </div>
                    <!-- BODY VAN DE DERDE CARD-->
                    <div id="BlindSchema" aria-labelledby="headingThree">
                        <div class="card-body">
                            <table class="table table-light table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Ronde</th>
                                        <th>Blind of Pauze</th>
                                        <th>SmallBlind</th>
                                        <th>BigBlind</th>
                                        <th>Duratie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < lijstMetBlinds.GetLength(0); i++)
                                    {
                                        <tr>
                                            <td>@lijstMetBlinds[i, 0]</td>
                                            <td>@lijstMetBlinds[i, 1]</td>
                                            <td>@lijstMetBlinds[i, 2]</td>
                                            <td>@lijstMetBlinds[i, 3]</td>
                                            <td>@lijstMetBlinds[i, 4]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE VIJFDE CARD-->
                    <div class="card-header bg-dark" id="headingFour">
                        <h5 style=" color:white;">
                            Confirm event:
                        </h5>
                    </div>
                    <!-- BODY VAN DE VIJFDE CARD-->
                    <div id="Confirm" aria-labelledby="headingFour">
                        <div class="card-body">
                            <a class="btn btn-danger btn-lg btn-block" href="~/Pages/Admin/CreateEvent.cshtml" role="button">Ga terug om aan te passen</a>
                            <form method="post">
                                <input type="text" class="form-control" name="presetnaam" placeholder="Naam voor het opslaan van het blindschema">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Maak event aan!</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>