@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ Event aanpassen";

    var refcode = (string)Session["refcode"];
    if (refcode == null)
    {
        refcode = (string)Request.QueryString["refcode"];
    }


    if (IsPost && Request.Form["submit"] == "AddSpeler")
    {
        var voornaam = Request.Form["inVoornaam"];
        var achternaam = Request.Form["inAchternaam"];
        var tafelnummer = Request.Form["inTafelnummer"];
        Functie.LiveEventAddSpeler(voornaam, achternaam, tafelnummer, refcode);
    }

    if (IsPost && Request.Form["submit"] == "DeleteSpeler")
    {
        var voornaam = Request.Form["Voornaam"];
        var achternaam = Request.Form["Achternaam"];
        Functie.LiveEventDeleteSpeler(voornaam, achternaam);
    }

    if(IsPost && Request.Form["submit"] == "StartEvent")
    {
        Functie.BeginBlindTimer(refcode);
    }

    if (IsPost && Request.Form["submit"] == "StopEvent")
    {
        Functie.DeleteEvent(refcode);
        Response.Redirect("~/Pages/Admin/LoginSucces.cshtml");
    }


}

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-10">
            <div class="accordion" id="accordionExample">
                <div class="card border-dark">
                    <!-- HEADER VAN DE EERSTE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Starten/stoppen huidige sessie: @refcode
                        </h5>
                    </div>
                    <!-- BODY VAN DE EERSTE CARD-->
                    <div id="SpelersAanpassen" aria-labelledby="headingOne">
                        <div class="card-body">

                            <div class=" row justify-content-center">
                                <form method="post">
                                    @if (Functie.EventStatus(refcode))
                                    {
                                        /// Als de event een begintijd heeft leet het de stop knop zien 
                                        <button class="btn btn-warning xllg">Het evenement is Live!</button>
                                    }
                                    else
                                    {
                                        /// Anders moet er eerst op de begin knop gedrukt worden
                                        <button class="btn btn-success xllg" type="submit" name="submit" value="StartEvent">Start het evenement</button>
                                    }

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!-- HEADER VAN DE TWEEDE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Aanpassen huidige sessie
                        </h5>
                    </div>
                    <!-- BODY VAN DE TWEEDE CARD-->
                    <div id="SpelersAanpassen" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="post">
                                        <div class="input-group mb-4">
                                            <input type="text" class="form-control" placeholder="Voornaam speler" name="inVoornaam" aria-label="Voornaam-speler" aria-describedby="basic-addon2" required>
                                            <input type="text" class="form-control" placeholder="Achternaam speler" name="inAchternaam" aria-label="Achternaam-speler" aria-describedby="basic-addon2" required>
                                            <input type="number" min="1" max="25" class="form-control" placeholder="Tafelnummer speler" name="inTafelnummer" aria-label="Tafelnummer-speler" aria-describedby="basic-addon2" required>
                                            <div class="input-group-append">
                                                <button id="button-addon2" class="btn btn-dark" type="submit" name="submit" value="AddSpeler">Voeg speler toe!</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="row">

                                @for (int x = 1; Functie.HoeveelheidTafels(refcode) >= x; x++)
                                {
                                    <div class="col-md-4">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th class="bg-dark text-light">Tafel @x</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var row in Functie.SpelersLive(refcode, x))
                                                {
                                                    <tr>
                                                        <td>
                                                            @row.Voornaam @row.Achternaam
                                                            <form method="post">
                                                                <input type="hidden" name="Voornaam" value="@(row.Voornaam)" />
                                                                <input type="hidden" name="Achternaam" value="@(row.Achternaam)" />
                                                                <button class=" btn DelBtn btn-dark float-right" type="submit" name="submit" value="DeleteSpeler"><i class="fas fa-trash-alt float-right"></i></button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>                
                <div class="card border-dark">
                    <!-- HEADER VAN DE DERDE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Event stopzetten en verwijderen
                        </h5>
                    </div>
                    <!-- BODY VAN DE DERDE CARD-->
                    <div id="Verwijder Event" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                
                                @if (!Functie.EventStatus(refcode))
                                {

                                    <button class="btn btn-danger btn-block" type="submit" name="submit" value="delete">Hiermee wordt het gehele event verwijderd!</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
